/* styles specific to this puzzle */
#puzz #portrait {
    text-align: center;
    background-color: beige;
}

.clue1 {
	text-align: center;
	font-style: italic;
}

.chamber {
	text-align: left;
	font-weight: bold;
}

.clue-header {
	font-weight:bold;
}

.puzzle-content div.grid { width: 100%; margin: 0 auto; }		
.puzzle-content div.grid table { margin: 0 auto; border-collapse: collapse; }
.puzzle-content div.grid table td {
	width: 2.5em; height: 2.5em; font-size: 0.8em;
	vertical-align: center;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid transparent;
	padding: 0;
}
.puzzle-content div.grid table td.u { border-top: 3px solid grey; }
.puzzle-content div.grid table td.d { border-bottom: 3px solid grey; }
.puzzle-content div.grid table td.l { border-left: 3px solid grey; }
.puzzle-content div.grid table td.r { border-right: 3px solid grey; }
.puzzle-content div.grid table td.ub { border-top: 3px dashed grey;}
.puzzle-content div.grid table td.db { border-bottom: 3px dashed grey;}
.puzzle-content div.grid table td.lb { border-left: 3px dashed grey;}
.puzzle-content div.grid table td.rb { border-right: 3px dashed grey;}
.puzzle-content div.grid table td.filled { background-color: lightgrey;}
.puzzle-content div.grid table td.blue { background-color: blue;}

.clues {
	font-size: smallest;
}

.puzzle-content div.print-safe { page-break-inside: avoid; }

@media print {
	.puzzle-content div.print-safe { page-break-inside: avoid; margin-bottom: 1em; }
	.puzzle-content div.clues { display: block; columns: 2em 4; }
	.puzzle-content div.clues div { width: 100%; }
	.puzzle-content div.grid table td { width: 35px; height: 35px; font-size: 12px; }
}

 .puzzle-content div.grid table td.blue { background-color: #5EBBE3;}
 .puzzle-content div.grid table td.red { background-color: #E35E63;}
 .puzzle-content div.grid table td.purple { background-color: #B35EE3;}
 .puzzle-content div.grid table td.yellow { background-color: #E3D25E;}
 .puzzle-content div.grid table td.green { background-color: #79E35E;}
 .puzzle-content div.grid table td.olive { background-color: #98B277;}
 .puzzle-content div.grid table td.orange { background-color: #FBB234;}
 .puzzle-content div.grid table td.bluegrey { background-color: #5F678D;}
  .puzzle-content div.grid table td.wine { background-color: #945F5F;}
  .puzzle-content div.grid table td.orangebluegrey { background-image: linear-gradient(#FBB234, #5F678D);}
  .puzzle-content div.grid table td.redwine { background-image: linear-gradient(#E35E63, #945F5F);} 
  .puzzle-content div.grid table td.yellowblue { background-image: linear-gradient(#E3D25E,#5EBBE3);}
  .puzzle-content div.grid table td.greenyellow { background-image: linear-gradient(#79E35E,#E3D25E); }
 .puzzle-content div.grid table td.greenred { background-image: linear-gradient(#79E35E,#E35E63);}
.puzzle-content div.grid table td.greenfilled { background-image: linear-gradient(#79E35E,lightgrey);}

  .puzzle-content-tiny div.grid table td {
	width: 2.5em; height: 2.5em; font-size: 0.5em;
}