/* styles specific to this puzzle */
.puzz {
    text-align: center;
    background-color: red;
}

.title  {
	font-size:25px;
}

#puzz #roadtrip_table1 img { 
	display: block; 
}

#puzz #emojiDestination {
	font-size:25px;
	font-weight:bold;
	padding:20px;
}

#authorTable {
    font-size: 70%;
}

#puzz #author1 {
	font-size:25px;
	font-weight:bold;
	display:inline-block;
	padding-top:20px;
	padding-bottom:20px;
}

#puzz #authorDestination {
	font-family: monospace;
	white-space: pre-line;
	font-size:20px;
}


